@import url('http://fonts.cdnfonts.com/css/battlestar');

body{
    background-image: url(./bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
}

#back{
    color: white;
    font-size: 30px;
    position: relative;
    height: 184px;
    width: 860px;
    left: -439px;
    top: 247px;
    animation: transition 2s;
    text-decoration: none;
    font-family: 'Battlestar', sans-serif;
    font-weight: normal;
}

img{
    position: relative;
    left: 550px;
    top: 150px;
}

p{
    font-family: 'Battlestar', sans-serif;
    color: white;
    position: relative;
    top: 125px;
    left: 518px;
    font-weight: 30px;
    margin-right: 0px;
    text-align: center;
}

@media (max-width:600px){
    body{
        background-attachment: fixed;
        position: fixed;
    }

    img{
        height: 315px;
        width: 290px;
        position: relative;
        left: 44px;
        top: 168px;
    }

    #back{
        position: relative;
        top: 427px;
        left: 153px;
    }
    p{
        position: relative;
        top: 345px;
        left: 9px;
    }
}